[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.21.0"

[dev-packages]
sphinx = "*"

[scripts]
deploy-testpypi = "python setup.py sdist upload -r testpypi"
